@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e0f7fa;
} */
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  min-height: 100vh;
  background-color: #000000 !important;
}
.navbar-custom ul {
  margin-left: 900px;
}

.main-body{
  margin-top:150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading{
  font-weight: normal; 
  margin-left: -1121px;
  line-height: 43.2px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #14CB4F;
  font-style: normal;
  font-feature-settings: 'ss01' on;
}

.right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.right .content{
  margin-top:158px;
  margin-right:250px;
  font-family: 'Lato', sans-serif;
}

.right .content h4{
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-family: 'Lato', sans-serif;
}

.right .photo img{
  margin-left:250px;
}

.line{
  position: absolute;
  width: 1067px;
  border-top: 4px solid #16DC65;
  left: 10px;
  top: 683px;
  background: #16DC65;
}

.left{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.left .content{
  margin-top:390px;
  margin-left:260px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Lato', sans-serif;
}

.left .photo img{
  margin-top: 300px;
  margin-right:320px;
}

.right-next{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right-next .content{
  margin-top:200px;
  margin-right:250px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Lato', sans-serif;
}

.right-next .photo img{
  margin-top: 100px;
  margin-left:250px;
}

.left-next{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.left-next .content{
  margin-top:200px;
  margin-left:260px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Lato', sans-serif;
}

.left-next .photo img{
  margin-top: 100px;
  margin-right:320px;
}

.block{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

.left-right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-right .left-part{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  /* padding-right: 100px; */
  margin-top: 50px;
}

.block .mid{
  text-align: center;
}

.left-part .content,
.right-part .content{
  text-align: center;
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

.left-right .right-part{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.left-right .photo{
  padding-left: 250px;
  padding-right: 250px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.line1{
  width: 1200px;
  border-top: 4px solid #16DC65;
  left: 150px;
  top: 5000px;
  background: #16DC65;
}

.founders{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.founders h2{
  color: #14CB4F;
}

.founders .images{
  display: flex;
  flex-direction: row;
}

.images .each-image{
  padding: 30px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.images .each-image h6{
  padding: 20px;
}

.images .each-image img{
  height: 150px;
  width: 150px;
}

.teamcards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 80px 0;
}
.teamcards .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamcards .card .imgBx img {
  position: relative;
  width: 300px;
  height: 400px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.teamcards .card .content {
  position: absolute;
  bottom: -160px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(15px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: bottom 0.5s;
  /* transition-delay: 0.8s; */
}
.teamcards .card:hover .content {
  bottom: 0px;
}
.teamcards .card .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  transition-delay: 0.6s;
}
.teamcards .card:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0px);
}
.teamcards .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.teamcards .card .content .sci {
  position: relative;
  bottom: 10px;
  padding-left: 0;
  display: flex;
}
.teamcards .card .content .sci li {
  list-style: none;
  margin: 0 auto;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: cal(0.2s * var(--i));
}
.teamcards .card:hover .content .sci li {
  transform: translateY(0px);
  opacity: 1;
}
.teamcards .card .content .sci li a {
  color: #fff;
  font-size: 24px;
}

.text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

#PI {
  margin-left: auto;
  margin-right: auto;
}

.heading {
  text-align: center;
  color: white;
  /* background-color: #262626; */
  padding: 15px;
  margin: 25px auto;
}

/* FOOTER */

.footer {
  position: relative;
  background: #0d0d0e;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul {
  display: flex;
  justify-content: center;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}
.footer ul li a img {
  filter: invert(1);
  max-width: 20px;
}
.text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 991px) {
  .navbar-custom ul {
    margin-left: 150px;
  }
  .footer {
    padding: 20px 50px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer ul {
    margin-bottom: 20px;
  }
}
